extends layout

block content
 input#search(type="search", placeholder="cardname")

 button#newcard(
  onclick="newCard()"
 ) New Card

 button#deletecard(
  onclick="deleteCard()"
 ) Delete Card

 button#selectCard(
  onclick="selectCard()"
 ) Select

 button#Submit_APDU(
  disabled="disabled"
 ) Submit

 button#recoverAll Recover All Test

 button#backupAll Backup All Test

 select(multiple=true width=500)#availableCards 
 h2#results

 script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
 script(src="/javascripts/main.js")
